@charset "utf8";
/*首页头像悬停转动*/
.thumb-lg{
    width:130px;
}

.avatar{
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out; 
}

.avatar:hover{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
}

#aside-user span.avatar{
    animation-timing-function:cubic-bezier(0,0,.07,1)!important;
    border:0 solid
}

#aside-user span.avatar:hover{
    transform:rotate(360deg) scale(1.2);
    border-width:5px;
    animation:avatar .5s
}
/*首页文章图片获取焦点放大*/
.item-thumb{
    cursor: pointer;  
    transition: all 0.6s;  
}

.item-thumb:hover{
      transform: scale(1.06);  
}

.item-thumb-small{
    cursor: pointer;  
    transition: all 0.6s;
}

.item-thumb-small:hover{
    transform: scale(1.06);
}

/*首页文章版式圆角化,整体大小位置*/
.panel{
    border: none;
    border-radius: 7px;
}

.panel-small{
    border: none;
    border-radius: 7px;
}

.item-thumb{
    border-radius: 7px;  
}



.bg-light.lter{
    background-color: rgba(255,255,255,0);
    border:none;
    text-align: center;
}
 /*文章标题居中*/
.panel h2{
	text-align: center; 
}

  
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
    width: 3px;
    height: 16px;
    background-color: rgba(255,255,255,0);
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(255,255,255,0);
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


/*放大进入*/
/*CodeBlock*/
@keyframes elastic{0%{transform:scale(0)}55%{transform:scale(1)}70%{transform:scale(.98)}100%{transform:scale(1)}}


#阴影颜色修改rgba后面的值
/*panel阴影*/
.panel{
   box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
}

.panel:hover{
    box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
}

.panel-small{
    box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
}
/**/
.panel{
    box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
}
/**/
.list-group-item:hover{
    box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
}
.panel-small:hover{
    box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(51, 255, 255, 0.35);
}

.app.container {
    box-shadow: 0 0 30px rgba(51, 255, 255, 0.35);
} 

/*如果也想使盒子四周也有阴影，加上以下代码*/
.app.container {
    box-shadow: 0 0 30px rgba(51, 255, 255, 0.35);
}



/*图片抖动效果 无效*/
img:hover {
    -webkit-animation: sucaijiayuan 1s .1s ease both;
    -moz-animation: tada 1s .1s ease both;
}
@-webkit-keyframes sucaijiayuan {
    0% {
        -webkit-transform: scale(1)
    }
    10%, 20% {
        -webkit-transform: scale(0.8) rotate(-2deg)
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(2deg)
    }
    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-2deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0)
    }
}